# ----[ Visual Studio ]------- #
/kbe/src/_objs
/kbe/src/ipch
__pycache__/
logs/
*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb
*.chw

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

*.pyc

# -------------[ make files ]------------------------ #
*.o
*.d
*.a
*.s
*.lo
/kbe/bin/server/baseapp
/kbe/bin/server/baseappmgr
/kbe/bin/server/bots
/kbe/bin/server/cellapp
/kbe/bin/server/cellappmgr
/kbe/bin/server/dbmgr
/kbe/bin/server/interfaces
/kbe/bin/server/kbcmd
/kbe/bin/server/logger
/kbe/bin/server/loginapp
/kbe/bin/server/machine
/kbe/res/scripts/common/lib-dynload/
/kbe/src/lib/dependencies/apr-util/test/Makefile
/kbe/src/lib/dependencies/apr/test/Makefile
/kbe/src/lib/dependencies/apr/test/internal/Makefile
/kbe/src/lib/dependencies/log4cxx/src/Makefile
/kbe/src/lib/dependencies/log4cxx/src/examples/Makefile
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/cpp/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/config/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/db/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/filter/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/helpers/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/net/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/nt/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/pattern/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/private/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/rolling/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/spi/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/spi/location/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/varia/Makefile
/kbe/src/lib/dependencies/log4cxx/src/main/include/log4cxx/xml/Makefile
/kbe/src/lib/dependencies/log4cxx/src/site/Makefile
/kbe/src/lib/dependencies/log4cxx/src/site/doxy/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/cpp/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/input/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/input/ndc/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/input/rolling/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/input/xml/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/encoding/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/ndc/Makefile
/kbe/src/lib/dependencies/log4cxx/src/test/resources/witness/rolling/Makefile
/kbe/src/lib/dependencies/apr-util/.libs/
/kbe/src/lib/dependencies/apr-util/.make.dirs
/kbe/src/lib/dependencies/apr-util/apr-util.pc
/kbe/src/lib/dependencies/apr-util/apu-1-config
/kbe/src/lib/dependencies/apr-util/apu-config.out
/kbe/src/lib/dependencies/apr-util/build/pkg/pkginfo
/kbe/src/lib/dependencies/apr-util/build/rules.mk
/kbe/src/lib/dependencies/apr-util/config.log
/kbe/src/lib/dependencies/apr-util/config.nice
/kbe/src/lib/dependencies/apr-util/config.status
/kbe/src/lib/dependencies/apr-util/export_vars.c
/kbe/src/lib/dependencies/apr-util/export_vars.sh
/kbe/src/lib/dependencies/apr-util/exports.c
/kbe/src/lib/dependencies/apr-util/include/apr_ldap.h
/kbe/src/lib/dependencies/apr-util/include/apu.h
/kbe/src/lib/dependencies/apr-util/include/apu_want.h
/kbe/src/lib/dependencies/apr-util/include/private/apu_config.h
/kbe/src/lib/dependencies/apr-util/include/private/apu_select_dbm.h
/kbe/src/lib/dependencies/apr-util/libaprutil-1.la
/kbe/src/lib/dependencies/apr-util/xml/expat/.libs/
/kbe/src/lib/dependencies/apr-util/xml/expat/config.log
/kbe/src/lib/dependencies/apr-util/xml/expat/config.status
/kbe/src/lib/dependencies/apr-util/xml/expat/expat_config.h
/kbe/src/lib/dependencies/apr-util/xml/expat/libexpat.la
/kbe/src/lib/dependencies/apr-util/xml/expat/libtool
/kbe/src/lib/dependencies/apr/.libs/
/kbe/src/lib/dependencies/apr/.make.dirs
/kbe/src/lib/dependencies/apr/apr-1-config
/kbe/src/lib/dependencies/apr/apr-config.out
/kbe/src/lib/dependencies/apr/apr.pc
/kbe/src/lib/dependencies/apr/build/apr_rules.mk
/kbe/src/lib/dependencies/apr/build/apr_rules.out
/kbe/src/lib/dependencies/apr/build/pkg/pkginfo
/kbe/src/lib/dependencies/apr/config.log
/kbe/src/lib/dependencies/apr/config.nice
/kbe/src/lib/dependencies/apr/config.status
/kbe/src/lib/dependencies/apr/export_vars.c
/kbe/src/lib/dependencies/apr/exports.c
/kbe/src/lib/dependencies/apr/include/apr.h
/kbe/src/lib/dependencies/apr/include/arch/unix/apr_private.h
/kbe/src/lib/dependencies/apr/include/private/
/kbe/src/lib/dependencies/apr/libapr-1.la
/kbe/src/lib/dependencies/apr/libtool
/kbe/src/lib/dependencies/apr/tools/gen_test_char
/kbe/src/lib/dependencies/expat/.libs/
/kbe/src/lib/dependencies/expat/config.log
/kbe/src/lib/dependencies/expat/config.status
/kbe/src/lib/dependencies/expat/examples/.libs/
/kbe/src/lib/dependencies/expat/examples/elements
/kbe/src/lib/dependencies/expat/examples/outline
/kbe/src/lib/dependencies/expat/expat.pc
/kbe/src/lib/dependencies/expat/expat_config.h
/kbe/src/lib/dependencies/expat/libexpat.la
/kbe/src/lib/dependencies/expat/libtool
/kbe/src/lib/dependencies/expat/xmlwf/.libs/
/kbe/src/lib/dependencies/expat/xmlwf/xmlwf
/kbe/src/lib/dependencies/jemalloc/bin/jemalloc.sh
/kbe/src/lib/dependencies/jemalloc/config.log
/kbe/src/lib/dependencies/jemalloc/config.stamp
/kbe/src/lib/dependencies/jemalloc/config.status
/kbe/src/lib/dependencies/jemalloc/doc/html.xsl
/kbe/src/lib/dependencies/jemalloc/doc/jemalloc.xml
/kbe/src/lib/dependencies/jemalloc/doc/manpages.xsl
/kbe/src/lib/dependencies/jemalloc/test/include/test/jemalloc_test.h
/kbe/src/lib/dependencies/jemalloc/test/include/test/jemalloc_test_defs.h
/kbe/src/lib/dependencies/jemalloc/test/test.sh
/kbe/src/lib/dependencies/log4cxx/config.log
/kbe/src/lib/dependencies/log4cxx/config.status
/kbe/src/lib/dependencies/log4cxx/liblog4cxx.pc
/kbe/src/lib/dependencies/log4cxx/libtool
/kbe/src/lib/dependencies/log4cxx/src/changes/Makefile.in
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/.deps/
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/.libs/
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/console
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/delayedloop
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/stream
/kbe/src/lib/dependencies/log4cxx/src/examples/cpp/trivial
/kbe/src/lib/dependencies/log4cxx/src/main/cpp/.deps/
/kbe/src/lib/dependencies/log4cxx/src/main/cpp/.libs/
/kbe/src/lib/dependencies/log4cxx/src/main/cpp/liblog4cxx.la
/kbe/src/lib/dependencies/log4cxx/src/site/apt/Makefile.in
/kbe/src/lib/dependencies/log4cxx/src/site/doxy/Doxyfile
/kbe/src/lib/dependencies/log4cxx/src/site/fml/Makefile.in
/kbe/src/lib/dependencies/log4cxx/src/site/xdoc/Makefile.in
/kbe/src/lib/dependencies/log4cxx/src/test/cpp/.deps/
/kbe/src/lib/dependencies/log4cxx/src/test/cpp/.libs/
/kbe/src/lib/dependencies/log4cxx/src/test/cpp/testsuite
/kbe/src/lib/dependencies/openssl/apps/CA.pl.bak
/kbe/src/lib/dependencies/openssl/apps/openssl
/kbe/src/lib/dependencies/openssl/certs/demo/3f77a2b5.0
/kbe/src/lib/dependencies/openssl/certs/demo/cbdbd8bc.0
/kbe/src/lib/dependencies/openssl/certs/demo/de4fa23b.0
/kbe/src/lib/dependencies/openssl/certs/demo/e83ef475.0
/kbe/src/lib/dependencies/openssl/crypto/aes/lib
/kbe/src/lib/dependencies/openssl/crypto/asn1/lib
/kbe/src/lib/dependencies/openssl/crypto/bf/lib
/kbe/src/lib/dependencies/openssl/crypto/bio/lib
/kbe/src/lib/dependencies/openssl/crypto/bn/lib
/kbe/src/lib/dependencies/openssl/crypto/buffer/lib
/kbe/src/lib/dependencies/openssl/crypto/camellia/lib
/kbe/src/lib/dependencies/openssl/crypto/cast/lib
/kbe/src/lib/dependencies/openssl/crypto/cmac/lib
/kbe/src/lib/dependencies/openssl/crypto/cms/lib
/kbe/src/lib/dependencies/openssl/crypto/comp/lib
/kbe/src/lib/dependencies/openssl/crypto/conf/lib
/kbe/src/lib/dependencies/openssl/crypto/des/lib
/kbe/src/lib/dependencies/openssl/crypto/dh/lib
/kbe/src/lib/dependencies/openssl/crypto/dsa/lib
/kbe/src/lib/dependencies/openssl/crypto/dso/lib
/kbe/src/lib/dependencies/openssl/crypto/ec/lib
/kbe/src/lib/dependencies/openssl/crypto/ecdh/lib
/kbe/src/lib/dependencies/openssl/crypto/ecdsa/lib
/kbe/src/lib/dependencies/openssl/crypto/engine/lib
/kbe/src/lib/dependencies/openssl/crypto/err/lib
/kbe/src/lib/dependencies/openssl/crypto/evp/lib
/kbe/src/lib/dependencies/openssl/crypto/hmac/lib
/kbe/src/lib/dependencies/openssl/crypto/idea/lib
/kbe/src/lib/dependencies/openssl/crypto/krb5/lib
/kbe/src/lib/dependencies/openssl/crypto/lhash/lib
/kbe/src/lib/dependencies/openssl/crypto/lib
/kbe/src/lib/dependencies/openssl/crypto/md4/lib
/kbe/src/lib/dependencies/openssl/crypto/md5/lib
/kbe/src/lib/dependencies/openssl/crypto/mdc2/lib
/kbe/src/lib/dependencies/openssl/crypto/modes/lib
/kbe/src/lib/dependencies/openssl/crypto/objects/lib
/kbe/src/lib/dependencies/openssl/crypto/ocsp/lib
/kbe/src/lib/dependencies/openssl/crypto/pem/lib
/kbe/src/lib/dependencies/openssl/crypto/pkcs12/lib
/kbe/src/lib/dependencies/openssl/crypto/pkcs7/lib
/kbe/src/lib/dependencies/openssl/crypto/pqueue/lib
/kbe/src/lib/dependencies/openssl/crypto/rand/lib
/kbe/src/lib/dependencies/openssl/crypto/rc2/lib
/kbe/src/lib/dependencies/openssl/crypto/rc4/lib
/kbe/src/lib/dependencies/openssl/crypto/ripemd/lib
/kbe/src/lib/dependencies/openssl/crypto/rsa/lib
/kbe/src/lib/dependencies/openssl/crypto/seed/lib
/kbe/src/lib/dependencies/openssl/crypto/sha/lib
/kbe/src/lib/dependencies/openssl/crypto/srp/lib
/kbe/src/lib/dependencies/openssl/crypto/stack/lib
/kbe/src/lib/dependencies/openssl/crypto/ts/lib
/kbe/src/lib/dependencies/openssl/crypto/txt_db/lib
/kbe/src/lib/dependencies/openssl/crypto/ui/lib
/kbe/src/lib/dependencies/openssl/crypto/whrlpool/lib
/kbe/src/lib/dependencies/openssl/crypto/x509/lib
/kbe/src/lib/dependencies/openssl/crypto/x509v3/lib
/kbe/src/lib/dependencies/openssl/engines/ccgost/lib
/kbe/src/lib/dependencies/openssl/engines/lib
/kbe/src/lib/dependencies/openssl/libcrypto.pc
/kbe/src/lib/dependencies/openssl/libssl.pc
/kbe/src/lib/dependencies/openssl/openssl.pc
/kbe/src/lib/dependencies/openssl/rehash.time
/kbe/src/lib/dependencies/openssl/ssl/lib
/kbe/src/lib/dependencies/openssl/test/asn1test
/kbe/src/lib/dependencies/openssl/test/bftest
/kbe/src/lib/dependencies/openssl/test/bntest
/kbe/src/lib/dependencies/openssl/test/casttest
/kbe/src/lib/dependencies/openssl/test/clienthellotest
/kbe/src/lib/dependencies/openssl/test/constant_time_test
/kbe/src/lib/dependencies/openssl/test/destest
/kbe/src/lib/dependencies/openssl/test/dhtest
/kbe/src/lib/dependencies/openssl/test/dsatest
/kbe/src/lib/dependencies/openssl/test/dummytest
/kbe/src/lib/dependencies/openssl/test/ecdhtest
/kbe/src/lib/dependencies/openssl/test/ecdsatest
/kbe/src/lib/dependencies/openssl/test/ectest
/kbe/src/lib/dependencies/openssl/test/enginetest
/kbe/src/lib/dependencies/openssl/test/evp_extra_test
/kbe/src/lib/dependencies/openssl/test/evp_test
/kbe/src/lib/dependencies/openssl/test/exptest
/kbe/src/lib/dependencies/openssl/test/heartbeat_test
/kbe/src/lib/dependencies/openssl/test/hmactest
/kbe/src/lib/dependencies/openssl/test/ideatest
/kbe/src/lib/dependencies/openssl/test/igetest
/kbe/src/lib/dependencies/openssl/test/jpaketest
/kbe/src/lib/dependencies/openssl/test/md2test
/kbe/src/lib/dependencies/openssl/test/md4test
/kbe/src/lib/dependencies/openssl/test/md5test
/kbe/src/lib/dependencies/openssl/test/mdc2test
/kbe/src/lib/dependencies/openssl/test/randtest
/kbe/src/lib/dependencies/openssl/test/rc2test
/kbe/src/lib/dependencies/openssl/test/rc4test
/kbe/src/lib/dependencies/openssl/test/rc5test
/kbe/src/lib/dependencies/openssl/test/rmdtest
/kbe/src/lib/dependencies/openssl/test/rsa_test
/kbe/src/lib/dependencies/openssl/test/sha1test
/kbe/src/lib/dependencies/openssl/test/sha256t
/kbe/src/lib/dependencies/openssl/test/sha512t
/kbe/src/lib/dependencies/openssl/test/shatest
/kbe/src/lib/dependencies/openssl/test/srptest
/kbe/src/lib/dependencies/openssl/test/ssltest
/kbe/src/lib/dependencies/openssl/test/v3nametest
/kbe/src/lib/dependencies/openssl/test/verify_extra_test
/kbe/src/lib/dependencies/openssl/test/wp_test
/kbe/src/lib/dependencies/openssl/tools/c_rehash.bak
/kbe/src/lib/python/Makefile.pre
/kbe/src/lib/python/Misc/python-config.sh
/kbe/src/lib/python/Misc/python.pc
/kbe/src/lib/python/Modules/Setup
/kbe/src/lib/python/Modules/Setup.config
/kbe/src/lib/python/Modules/Setup.local
/kbe/src/lib/python/Modules/_testembed
/kbe/src/lib/python/Modules/config.c
/kbe/src/lib/python/Modules/ld_so_aix
/kbe/src/lib/python/Parser/pgen
/kbe/src/lib/python/build/
/kbe/src/lib/python/config.log
/kbe/src/lib/python/config.status
/kbe/src/lib/python/pybuilddir.txt
/kbe/src/lib/python/pyconfig.h
/kbe/src/lib/python/python
/kbe/src/lib/python/python-config
/kbe/src/lib/python/python-config.py
/kbe/src/lib/python/python-gdb.py