# ----[ Visual Studio ]------- #
/kbe/src/_objs
/kbe/src/ipch
__pycache__/
logs/
*.suo
*.user
*.ncb
*.plg
*.opt
*.aps
*.aps
*.sdf
*.opensdf
*.exp
*.idb
*.ilk
*.exe
*.pdb

*.o
*.a
*.d
*.d*
*.pyc
GPATH
GRTAGS
GTAGS
kbe/src/lib/dependencies/
kbe/src/lib/python/
kbe/bin/
kbe/res/scripts/
kbengine_demos_assets/

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
