/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.navbar-brand-custom {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #3992D0;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.user > li > a{
  color: #fff;
}
.user > li > a:hover{
  color: #3992D0
}

.user > .active > a,
.user > .active > a:hover,
.user > .active > a:focus {
  color: #3992D0;
  background-color: #fff;
}

.nav-sidebar li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.kbe-manager ul li > a:hover{
  background:url(images/left/select_xl01.png) no-repeat;
}

/*.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
*/
.kbe-manager .active > a,
.kbe-manager .active > a:hover,
.kbe-manager .active > a:focus {
  text-decoration:none;
  color: #fff;
  background:url(images/left/select_xl01.png) no-repeat;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.server-menu ul {
    list-style-type: none;
}

.server-menu li {
    margin-left: 5px;
    margin-right: 5px;
    float: left;
}

.components-run-block {
    width: 400px;
}

.machines-all-block {
    width: 600px;
}



#output_block_area {
	display: block;
	border: 1px solid #999999;
	background-color: #f6f0f0;
	margin-top: .3em;
	overflow: auto;
}
#output_block_info {
  display: block;
  overflow: auto;
}
.info-fitler .form-group .filter-check{
  display: block;
  border: 1px solid #999999;
  height: 20em;
  overflow: auto;
  margin-top: 1em;
  background-color: white;
}
.log-context{
  width: 95%;
  margin-right: 10%;
  z-index: 20;
  background-color: white;
  display: block;
  position: absolute;
  border: 1px solid #999999;
  top:-0.6em;
}

.kbe-list ul li{
  list-style: none;
}

/*left*/
.kbe-list{
  height:auto !important;
  overflow:visible !important;
  height:100% !important;
}
.line{height:2px;
  width:100%;
  background-image:url(images/left/line_bg.png);
  background-repeat:repeat-x;
}
.kbe-list .dt{
  padding-right:10px;
  background-repeat:no-repeat;
  background-position:10px center;
  color:#f5f5f5;
  font-size:14px;
  position:relative;
  line-height:48px;
  cursor:pointer;
}
/*.kbe-list .dd{background-color:#317eb4;}*/
.kbe-list .dd a{
  color:#f5f5f5;
  line-height:20px;
  text-decoration:none;
}
.kbe-list .dt img{
  position:absolute;
  right:10px;
  top:20px;
}
.kbe-list .dl .dd:last-child{
  padding-bottom:10px;
}
.kbe-list ll{
  padding-right:10px;
  background-repeat:no-repeat;
  background-position:10px center;
  color:#f5f5f5;font-size:14px;
  position:relative;line-height:48px;
  cursor:pointer;padding-left: 40px;
  margin-left: -30px;
}

.log ll{
  background-image:url(images/left/log.png);
}
.pyconsole ll{
  background-image:url(images/left/pyconsole.png);
}
.condition ll{
  background-image:url(images/left/condition.png);
}
.components ll{
  background-image:url(images/left/components.png);
}
.statistics ll{
  background-image:url(images/left/statistics.png);
}

.disable a{
  
}

.tablesaw .tablesaw-sortable-head .tablesaw-sortable-btn{
    width:100%;
    min-width: 100%;
    color: inherit;
    background: transparent;
    border: 0;
    padding: 0;
    text-align: left;
    font: inherit;
    text-transform: inherit;
    position: relative;
}
.tablesaw-bar{
  display: none;
}
.placeholders #ct-load-data{
  text-align: center;
}
.placeholders #ct-load-data th{
  text-align: center;
}
